@import url('https://fonts.googleapis.com/css2?family=Tourney:wght@300&display=swap');

#clock {
    display: inline-block;
    font-family: 'Tourney', cursive;
    box-shadow: 10px 10px 10px 10px #121010;
}

#todayTime {
    font-size: 190px;
    margin: 0%;
    color: white;
}

/* 드래그 금지 시키기 */
.no-drag {-ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;}

html body {
    width: 100%;
    height: 100%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(u.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#ment {
    color: white;
    font-size: 50px;
    text-align: center;
}

h3 {
    margin: 1px;
}

input {
    font-size: 25px;
    margin: 30px;
    border-radius: 20px;
    display: inline-block;
    border: none;
    border-right: 0px;
    border-top: 0px;
    border-left: 0px;
    width: 600px;
    height: 50px;
}

span {
    color: #fff;
}